{{!-- Templating for all Articles  --}}

{{!-- Iterate Over all the articles --}}
{{#each articles}}
  <ul class="collapsible popout">

    <!-- Article Drop Down -->
    <li>
      <div style="background-color: white;" class="collapsible-header popout yellow dark ">
        <i class="material-icons">language</i> <b>{{updated}}</b>
        <div style="clear: left; line-height: 110%; padding-bottom: 10px;"><b>{{title}}<br><br>
          <a href="{{link}}" target="_new">Click here to Launch the Website</a></b></div>
      </div>
    
    </li>


    <!-- Add Comments Drop Down -->
    <li>
      <div class="collapsible-header popout #03a9f4 light-blue"><b>Add a Comment</b></div>
      <div class="collapsible-header popout" style="background-color: white;">

        <form id="form-add-{{_id}}" action="add/comment/{{_id}}" method="post" style="background-color: white;">

       
          
          <!-- Comment Input -->
          <div class="row">
            <div class="input-field col s2"></div>
            <div class="input-field col s8">
              <textarea id="comment_box" name="comment" class="materialize-textarea"></textarea>
              <label for="comment_box">Type in Your Reaction:</label>
            </div>
          </div>

            <!-- Submit Button -->
            <div class="row">
              <div class="input-field col s2"></div>
              <div class="input-field col s8">
              <center><input class="btn add-comment-button blue" data-id="{{_id}}" type="submit" value="Submit"></center>
              </div>
            </div>
          
        </form>

      </div>
    </li>


    <!-- View Comments Drop Down -->
    
    <li>
      <div class="collapsible popout card-panel #03a9f4 light-blue"><b>View Comments</b></div>
      <div class="collapsible popout" style="background-color: white;">
      
        {{!-- Check if the article has comments --}}
        {{#if comments}}

          {{!-- Article has comments so iterate over them  --}}
          <ul class="collection">
            {{#each comments}}
            
              <li class="collection-item">

              
                {{!-- Add a Delete Button --}}
                <span class="badge">
                  <form id="form-delete-{{_id}}" action="remove/comment/{{_id}}" method="post">
                    <input class="btn-large delete-comment-button" data-id="{{_id}}" type="submit" value="Delete" style="color: white; background-color: blue; border-color: blue;">
                  </form>
                </span>

                <br>

                {{!-- Add the Content of the Comment --}}
                {{content}}

              </li> 
            {{/each}}
          </ul>
        
        {{!-- No comments, so display message --}}
        {{else}}
          <p>No Comments Yet :( </p>
        {{/if}}
            
        
      </div>
    </li>

  </ul>
{{/each}}